.calculator {
  padding: 10px;
  height: 380px;
  width: 400px;
  margin: auto;
  background-color: rgba(22, 20, 20, 0.2);
  border-radius: 2%;
}

.display-box {
  font-family: sans-serif;
  background-color: #dcdbe1;
  border: solid 0.5px;
  color: black;
  width: 80%;
  height: 40%;
}

.button {
  font-family: sans-serif;
  background-color: #64278f;
  color: white;
  border: 1px solid rgba(100, 39, 143, 0.5);
  width: 100%;
  height: 40px;
}

.button:active,
.button:hover {
  color: #64278f;
  background-color: white;
}

input {
  padding: 0.5rem 0.1rem;
  border-radius: 16px;
}
